.sliderDiv {
  width: 100%;
}
#rightArrow {
  margin-left: 1350px;
  margin-top: 200px;
  position: absolute;
}
#leftArrow {
  margin-left: 350px;
  margin-top: 200px;
  position: absolute;
}
.sliderDots {
  background-color: white;
  width: 4%;
  height: 15px;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  margin-left: 46%;
  margin-top: 400px;
  position: absolute;
}

@media screen and (max-width: 780px) {
  #rightArrow {
    margin-left: 550px;
    margin-top: 80px;
  }
  #leftArrow {
    margin-left: 120px;
    margin-top: 80px;
  }
  .sliderDots {
    margin-left: 45%;
    margin-top: 140px;
    width: 7%;
    padding: 3px;
    height: 14px;
  }
}

@media screen and (max-width: 600px) {
  #rightArrow {
    margin-left: 400px;
    margin-top: 50px;
  }
  #leftArrow {
    margin-left: 60px;
    margin-top: 50px;
  }
  .sliderDots {
    margin-top: 100px;
    width: 9%;
    padding: 3px;
    height: 14px;
  }
}
